<configuration>
    <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>graylog.graylog.svc.cluster.local</graylogHost>
        <graylogPort>12201</graylogPort>
        <includeFullMdc>true</includeFullMdc>
        <additionalField>environment=production</additionalField>
    </appender>

    <logger name="org.springframework.web" level="INFO" additivity="false">
        <appender-ref ref="GELF" />
    </logger>

    <root level="INFO">
        <appender-ref ref="GELF" />
    </root>
</configuration>